

.login {
    margin: 50px auto;
    min-width: 250px;
    max-width: 350px;
    width: 50%;
    background-color: #fff;
    /*padding: 50px;*/
    border-radius: 5px;
    border: 1px solid var(--main-color);
    min-height: 450px;
}

.login-form {
    margin: 200px 30px 120px 30px;
}


.login button{
    width: 50%;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #ffffff;
    border: 0;
}

.login input{
    border: 0;
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    color: var(--main-color);
    padding: 2px 10px;

}

.login input:focus{
    border: 0;
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    color: var(--main-color);
    background-color: #fff;
    outline: 0;
}

.login input::placeholder {
    color: var(--main-color);
}